body {
    margin: 0;
    padding: 0;
}
.landing {
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 90%;
    background-color: rgb(1, 1, 51);
}
.header {
    grid-row-start: 1;
    display: grid;
    grid-template-columns: 30% 70%;
}
.logo {
    grid-column-start: 1;
    align-self: center;
    margin-left: 40px;
    margin-top: 10px;
    color: white;
}
.logo img {
    width: 200px;
    cursor: pointer;
    transition: transform .5s;
}
.logo img:hover{
    transform: scale(1.1);
}
.headnav{
    grid-column-start: 2;
    justify-self: flex-end;
    align-self: center;
    margin-right: 20px;
}
.headnav ul {
    list-style-type: none;
    display: inline;
}
.headnav li {
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
}
.headnav a:link, .headnav a:visited {
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    transition: color .2s;
}
.headnav a:hover {
    color: #888888;
}
#acc {
    background-color: rgb(116, 165, 255);
    padding: 10px;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    transition: color .2s, background-color .2s;
}
#acc:hover, #acc:active{
    color: white;
    background-color: #ff0000;
}
.welcome {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}
.welcomeText {
    grid-column-start: 1;
    padding: 20px;
}
.welcomeText p:first-child {
    color: white;
    font-size: 50px;
}
.welcomeText p{
    color: white;
    word-wrap: break-word;
}
.welcomeText a:link, .welcomeText a:visited{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding-right: 15px;
    padding-left: 15px;
    color: rgb(252, 161, 176);
    transition: color .2s;
}
.welcomeText a:hover {
    color: #ff0000;
}
.welcomeText a:first-of-type{
    border-right: 2px solid white;
}
.welcomeImg {
    grid-column-start: 2;
    justify-self: center;
}