@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Orbitron&family=Pacifico&family=Roboto+Mono:wght@500&display=swap');


body {
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar{
    display: none;
}
.head{
    position: fixed;
    width: 100%;
}
.head span:first-of-type {
    font-size: 2em;
    font-family: "Pacifico", cursive;
    text-shadow: 1px 1px 1px rgb(1, 1, 51);
    color: white;
}
.head span:last-of-type img{
    width: 80px;
    float: right;
    transition: background-color .5s;
    border-radius: 50%;
}
.head span:last-of-type img:hover{
    background-color: rgb(170, 249, 255);
}
@keyframes aesthetic {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
.landing {
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 90%;
    background:linear-gradient(300deg, rgb(0, 238, 255), rgb(1, 1, 51));
    background-size: 180% 180%;
    animation: aesthetic 25s ease infinite;
}
.welcome {
    margin-top: 200px;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}
@keyframes slideUp {
    from {opacity: 0.2;}
    to {opacity: 1; margin-top: 10px;}
}
.welcomeText {
    grid-column-start: 1;
    padding: 20px;
    margin-top: 300px;
    overflow: hidden;
    animation-name: slideUp;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.welcomeText p:first-child {
    color: white;
    font-size: 3rem;
    font-family: "Courgette", cursive;
}
.welcomeText p{
    color: white;
    word-wrap: break-word;
    font-family: "Roboto Mono", monospace;
}
.welcomeText a:link, .welcomeText a:visited{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "Orbitron", sans-serif;
    padding-right: 15px;
    padding-left: 15px;
    color: rgb(252, 161, 176);
    transition: color .5s;
}
.welcomeText a:hover {
    color: #ff0000;
}
.welcomeText a:first-of-type{
    border-right: 2px solid white;
}
.welcomeImg {
    grid-column-start: 2;
    justify-self: flex-end;
}
@keyframes slideLeft {
    from {opacity: 0;}
    to {opacity: 1; margin-right: 5em;}
}
.welcomeImg img {
    width: 400px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    animation-name: slideLeft;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.products h2{
    text-align: center;
    font-size: 50px;
    font-family: "Courgette", cursive;
    color: rgb(0, 238, 255);
    text-shadow: 2px 2px black;
    margin-top: 0px;
    padding-top: 30px;

}
.services {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.services .coln {
    width: 300px;
    height: 400px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    background-color: rgb(0, 106, 148);
    border-radius: 2em;
    color: white;
    display: grid;
    grid-template-rows: 20% 80%;
}
.services .coln .top {
    grid-row-start: 1;
    margin: 0px;
    padding-top: 10px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    text-align: center;
    background-color: rgb(170, 249, 255);
    width: 100%;
    height: 100%;
}
.services .coln p {
    grid-row-start: 2;
    padding: 5px;
    font-size: 20px;
    font-family: "Roboto Mono", monospace;
    align-self: center;
    text-align: center;
}
.gain {
    background: linear-gradient(300deg, rgb(0, 238, 255), rgb(0, 106, 148));
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gain h3 {
    color: white;
    font-size: 45px;
    font-weight: bold;
    font-family: "Courgette", cursive;
    text-shadow: 2px 2px black;
    margin: 0;
}
.gain li {
    margin-bottom: 5px;
    color: white;
    font-size: 25px;
    font-family: "Roboto Mono", monospace;
}
.gain a {
    color: rgb(252, 161, 176);
    text-decoration: none;
    text-shadow: 1px 1px black;
    font-size: 45px;
    font-family: "Courgette", cursive;
    transition: color .5s;
}
.gain a:hover {
    color: #ff0000;
}
.wtb {
    text-align: center;
}
.wtb h2 {
    font-size: 50px;
    font-weight: bold;
    font-family: "Courgette", cursive;
    text-shadow: 2px 2px 2px rgb(0, 238, 255);
}
.wtb img {
    height: 150px;
}
.wtb p {
    font-size: 20px;
    font-family: "Roboto Mono", monospace;
}
.contact {
    display: grid;
    grid-template-columns: 2;
    background-color: rgba(0, 238, 255, .2);
    margin: 0;
}
.contact .colOne {
    grid-column-start: 1;
    padding: 10px;
}
.contact h2 {
    font-size: 40px;
    font-family: "Courgette", cursive;
}
.contact img {
    height: 50px;
    vertical-align: middle;
    margin-top: 5px;
}
.contact .colOne p{
    font-size: 20px;
    font-family: "Roboto Mono", monospace;
}
.contact .colOne a {
    color: black;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    font-family: "Orbitron", sans-serif;
}
.contact .colTwo {
    grid-column-start: 2;
    justify-self: center;
    padding: 10px;
}
.contact .colTwo label {
    font-size: 17px;
    font-weight: bold;
    font-family: "Orbitron", sans-serif;
}
.contact .colTwo input {
    border-radius: .5em;
    padding: 5px;
    font-family: monospace;
}
.contact .colTwo textarea {
    margin-top: 5px;
    border-radius: .5em;
    resize: none;
    width: 100%;
    height: 150px;
    border: 2px solid black;
}
.contact .colTwo button {
    padding: 10px;
    width: 100px;
    font-size: 17px;
    font-weight: bold;
    font-family: monospace;
    color: white;
    background-color: #ff0000;
    border-radius: .5em;
}
.footer{
    margin-top: 50px;
    grid-column-start: span 2;
    text-align: center;
}
.footer h4{
    font-family: "Orbitron", sans-serif;
}
.footer a {
    margin: 10px;
    text-decoration: none;
    color: blue;
}
@keyframes arrowAnim {
    0% {margin-bottom: 20px;}
    50% {margin-bottom: 50px;}
    100% {margin-bottom: 20px;}
}
#arrow {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
}
#arrow:hover, #arrow:active {
    animation: arrowAnim 1.5s forwards;
}
@media only screen and (max-width: 1000px){
    .welcome{
        margin-top: 25em;
    }
    .welcomeText{
        grid-column-start: span 2;
    }
    .welcomeText p:first-child{
        font-size: 2.2rem;
    }
    .welcomeImg{
        display: none;
    }
    .products h2{
        font-size: 30px;
    }
    .services .coln {
        height: 200px;
        width: 150px;
        border-radius: 1em;
    }
    .services .coln .top {
        padding: 0;
    }
    .services .coln img {
        height: 40px;
    }
    .services .coln p {
        font-size: .9rem;
    }
    .gain {
        flex-wrap: wrap;
        justify-content: center;
    }
    .gain h3{
        font-size: 2rem;
    }
    .gain li {
        font-size: 1rem;
    }
    .gain a {
        font-size: 2rem;
    }
    .wtb h2 {
        font-size: 2.5rem;
    }
    .wtb img {
        height: 90px;
    }
    .wtb p{
        font-size: 1rem;
    }
    .contact {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
}