@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Orbitron&family=Pacifico&family=Roboto+Mono:wght@500&display=swap');


body{
    background: linear-gradient(300deg, rgb(1, 1, 51), rgb(0, 238, 255));
    background-size: cover;
    background-repeat: no-repeat;
    height: 130vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signUp form{
    width: 300px;
}